CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
cmake-build-debug/
antlr4_runtime/
.idea/
thirdparty/
include/parser_temp/
build.ninja

build/
exec
*.ll
*.out

benchmarks/tython
cmake-build-release/
cmake-release/
src/grammar/gen/

.gdbinit

**/*.aux
